.routes-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.route-title {
    display: flex;
    justify-content: center;
}

#styled-table {
    background-color: chartreuse;
    text-align: center;
}
